/* :root {
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
    sans-serif;
}
.navbar-links {
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  color: #fff !important;
}
.nav {
  background-color: #f85606;
  color: #fff;
}
#nav-daraz-logo {
  width: 20px;
}
#nav-daraz-white-logo {
  height: 48px;
  width: 120px;
}
.app-discount {
  font-size: 13px;
}
.border-y {
  height: 10px;
  width: 1.4px;
  display: block;
  margin-top: 16px;
}
.signup-link,
.login-link {
  font-size: 13px;
  color: #fff !important;
  font-weight: 700;
}
#language-logo {
  height: 20px;
}
#language {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
#nav-user-icon {
  height: 20px;
}
#nav-search-input {
  outline: none;
  font-size: 14px;
  border-radius: 10px;
  color: rgb(33, 33, 33);
}
.footer-links {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.footer-links-header {
  font-size: 20px;
  color: rgb(248, 86, 6);
  line-height: 28px;
  font-weight: 400;
}
.footer-countries-flag {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: contain;
}
.payment-methods {
  height: 28px;
  width: 48px;
  object-fit: contain;
  background: #fff;
  padding: 5px;
}
.footer-verifiedby-img {
  height: 40px;
  background: #fff;
}
.getiton-stores {
  height: 27px;
}
#deals-offers-qr {
  height: 94px;
  width: 94px;
}
#daraz-footer-logo {
  height: 38px;
  width: 38px;
}
#happy-shopping {
  color: #f85606;
  font-weight: 750;
}
#download-app {
  font-size: 10px;
  line-height: 16px;
}
.footer-social-medias {
  height: 28px;
  display: block;
  width: 28px;
}
.cursor-pointer {
  cursor: pointer;
}
