/* :root {
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
    sans-serif;
}
.navbar-links {
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  color: #fff !important;
}
.object-fit {
  object-fit: contain;
}
.nav {
  background-color: #f85606;
  color: #fff;
}
#nav-daraz-logo {
  width: 20px;
}
#nav-daraz-white-logo {
  height: 48px;
  width: 120px;
}
.app-discount {
  font-size: 13px;
}
.border-y {
  height: 10px;
  width: 1.4px;
  display: block;
  margin-top: 16px;
}
.signup-link,
.login-link {
  font-size: 13px;
  color: #fff !important;
  font-weight: 700;
}
#language-logo {
  height: 20px;
}
#language {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
#nav-user-icon {
  height: 20px;
}
#nav-search-input {
  outline: none;
  font-size: 14px;
  border-radius: 10px;
  color: rgb(33, 33, 33);
}
.home-container {
  background: #f5f5f5;
}
.footer-links {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.footer-links-header {
  font-size: 20px;
  color: rgb(248, 86, 6);
  line-height: 28px;
  font-weight: 400;
}
.footer-countries-flag {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: contain;
}
.payment-methods {
  height: 28px;
  width: 48px;
  object-fit: contain;
  background: #fff;
  padding: 5px;
}
.footer-verifiedby-img {
  height: 40px;
  background: #fff;
}
.getiton-stores {
  height: 27px;
}
#deals-offers-qr {
  height: 94px;
  width: 94px;
}
#daraz-footer-logo {
  height: 38px;
  width: 38px;
}
#happy-shopping {
  color: #f85606;
  font-weight: 750;
}
#download-app {
  font-size: 10px;
  line-height: 16px;
}
.footer-social-medias {
  height: 28px;
  display: block;
  width: 28px;
}
.cursor-pointer {
  cursor: pointer;
}
.footer-sub-headings {
  font-size: 12px;
  line-height: 15px;
  color: rgb(51, 51, 51) !important;
  text-transform: capitalize;
  margin-bottom: 1px;
}
.footer-headings {
  font-size: 18px !important;
  line-height: 20px;
  font-weight: 400;
  color: rgb(96, 96, 96) !important;
  margin-bottom: 10px;
}
.footer-content {
  color: rgb(136, 136, 136);
  font-size: 12px;
  line-height: 18px;
}
.footer-country-links {
  text-decoration: none;
  color: rgb(25, 156, 183);
}
.filter-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 27px;
  color: #000;
}
.home-headings {
  font-size: 22px;
  font-weight: 400;
  color: rgb(66, 66, 66);
  line-height: 38px;
}
.categories-title {
  font-size: 14px;
  color: rgb(33, 33, 33);
  font-weight: 400;
  line-height: 18px;
}
#shop-more-btn {
  text-decoration: none;
  color: rgb(245, 114, 36);
  border: 1px solid rgb(245, 114, 36);
  padding: 10px;
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
}
.flashsale-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
}
.flashsale-discounted-price {
  font-size: 18px;
  color: rgb(248, 86, 6);
  line-height: 22px;
  font-weight: 400;
}
.flashsale-price {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: rgb(158, 158, 158);
}
.darazmall-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.darazmall-subtitle {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgb(158, 158, 158);
}
.home-product-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.home-product-discounted-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(248, 86, 6);
}
.justforyou-price {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgb(158, 158, 158);
}
.productlist-product-img {
  height: 200px;
}
#filters-list-heading {
  font-size: 20px !important;
  line-height: 26px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.898);
}
.filter-pages-list {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.productlist-filters-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.promotions {
  box-shadow: 0px 0px 1px 1px #ececec;
  width: auto;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 2px;
}
.categories {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(245, 114, 36);
}
.brands span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}
.colors span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.898);
  padding: 6px 14px;
  background: #f5f5f5;
  border-radius: 2px;
}
.price-inputs {
  height: 30px;
  width: 70px;
  outline: none;
  padding: 0px 7px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
}
.price-filter-btn {
  background: #f85606;
  width: 70px;
  border-color: #f85606;
  border: 1px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  border-radius: 4px;
  padding: 8px 0px;
}
.price-filter-border {
  color: #a8a8a8;
}
.filterproducts-country-name {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}
.product-view-order {
  height: 20px;
}
.founded-items-number {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}
.sort-by-view {
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}
.sort-by-filter-options {
  width: 200px;
  font-size: 14px;
  line-height: 38px;
  font-weight: 500;
  border: 1px solid #9b9b9b;
  color: rgba(0, 0, 0, 0.898);
  border-radius: 20px;
  height: 40px;
  outline: none;
  padding: 0px 10px;
}
.products-size-filter-btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(248, 87, 5);
  background: rgb(255, 241, 234);
  border: 1px solid rgb(254, 221, 205);
  height: 36px;
  width: 260px;
  border-radius: 21px;
  margin-top: 20px;
}
.border-1 {
  display: block;
  height: 1px;
  background: #f1f1f1;
  margin: 20px 0px;
}
.productlist-product-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 10px;
}
.productlist-sold-numbers,
.productlist-products-rating {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.productlist-product-price {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: rgb(248, 86, 6);
  padding-top: 8px;
}
.products-vouchers button {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  color: rgb(0, 119, 135) !important;
  padding: 0 5px;
  border: 1px solid rgb(0, 119, 135);
  background: #fff;
  border-radius: 2px;
}
.review-content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(32, 32, 32);
}
.review-btns button {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(93, 93, 93);
  border-radius: 6px;
  background: #fff;
  outline: none;
  height: 28px;
  padding: 0px 10px;
  border: 1px solid #a8a8a8;
}
.pagination-btns {
  border: 0;
  outline: none;
  background: #f85606;
  border-radius: 3px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.signup-title,
.login-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(66, 66, 66);
}
.login-page-link,
.login-register-link {
  font-size: 12px;
  line-height: 26px;
  color: rgb(117, 117, 117);
  font-weight: 400;
}
.login-page-link a {
  color: rgb(26, 156, 183);
}
.signup-container,
.login-container {
  background: #eff0f5;
}
.signup-form {
  background: #fff;
  padding: 10px 5px 70px 5px;
}
.login-form {
  background-color: #fff;
  padding: 15px 50px 70px 0px;
}
footer {
  background: #f5f5f5;
}
.signup-form-label,
.login-form-label {
  font-size: 12px;
  color: rgb(66, 66, 66);
  line-height: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}
.signup-form-input,
.login-form-input {
  height: 40px;
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  padding: 0 35px 0 10px;
  font-size: 14px;
  margin-bottom: 2px;
}
.signup-btn,
.login-btn {
  height: 48px;
  padding: 0 36px;
  line-height: 46px;
  border-width: 1px;
  background: #f57224;
  border-color: transparent;
  border-style: solid;
  font-size: 14px;
  color: #fff;
  width: 100%;
  border-radius: 2px;
}
.code-receiving-methods {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgb(4, 156, 185);
  text-decoration: none;
}
.txt-blue {
  color: rgb(4, 156, 185);
}
.agreement {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: rgb(117, 117, 117);
}
.signup-with-facebook,
.login-with-facebook {
  background: #3b5998;
  height: 40px;
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  border-radius: 3px;
  width: 100%;
  text-align: center;
}
.signup-with-google,
.login-with-google {
  background: #d34836;
  height: 40px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  border-radius: 3px;
  width: 100%;
}
#signup-checkbox {
  height: 15px;
  width: 15px;
}
.fs-12 {
  font-size: 12px;
}
.or-signup-with,
.or-login-with {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}
.signup-form select {
  cursor: pointer;
  font-size: 14px;
  padding: 0 5px 0 5px !important;
}

.signup-container-width,
.login-container-width {
  width: 870px;
}
.signup-form option {
  font-size: 14px;
}
.w-68 {
  width: 68% !important;
}
.w-32 {
  width: 32% !important;
}
.signup-facebook-icon,
.login-facebook-icon {
  height: 20px;
  width: 20px;
}
.signup-google-plus-icon,
.login-googleplus-icon {
  height: 28px;
  width: 28px;
}
.productdetail-filter-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  padding: 15px 0px;
  margin: 0px;
  color: rgb(26, 156, 183);
}

.productDetail-productImg {
  width: 300px;
}

.productDetail-productImg img {
  height: 100%;
  width: 100%;
}
.detailed-img-lists img {
  width: 60px;
}
.productDetail-product-title {
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
}
.productDetail-rating-no,
.productDetail-brand .brand-name {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgb(22, 132, 155);
}
.productDetail-brand .title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(158, 158, 158);
}
.productDetail-price .price {
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  color: rgb(248, 86, 6);
}
.quantity {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(117, 117, 117);
  padding-right: 20px;
}
.productDetail-qty,
.cart-qty {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  width: 44px;
  text-align: center;
}
.productDetail-qty-btns,
.cart-qty-btns {
  font-size: 26px;
  line-height: 24px;
  color: rgb(158, 158, 158);
  background: #eff0f5;
  border: none;
  outline: none;
  padding: 2px 8px;
  font-weight: 300;
}
.deliver-subtitles-location {
  width: 181px;
}
.buy-now,
.add-to-cart {
  width: 205px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  height: 44px;
}
.buy-now {
  background-color: #2abbe8;
  color: #fff;
}
.add-to-cart {
  background-color: #f57224;
  color: #fff;
}
.location-logo,
.cash-on-delivery,
.trusted-brand-logo,
.warranty-logo {
  height: 20px;
}
.chat-logo {
  height: 12px;
}
.info-logo {
  height: 15px;
}
.delivery button {
  border: none;
  outline: none;
  color: rgb(1, 131, 158);
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  background: transparent;
}
.delivery-title,
.sold-by-title,
.service-title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: rgb(117, 117, 117);
}
.deliver-subtitles,
.service-subtitles {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(32, 32, 32);
}
.product-detail-seller-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(33, 33, 33);
}
.chat-title {
  font-size: 14px;
  line-height: 16px;
  color: rgb(25, 156, 183);
  font-weight: 400;
}
.product-detail-table tbody tr td span {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}
.product-detail-table tbody tr td p {
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(26, 26, 26);
}
.not-enough-data {
  font-size: 12px !important;
  line-height: 30px !important;
  font-weight: 400 !important;
  color: rgb(204, 204, 204) !important;
}
.people-who-viewed-this {
  font-size: 16px;
  line-height: 52px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
.who-viewed-this-card .card-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgb(33, 33, 33);
}
.who-viewed-this-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(245, 114, 36);
}
.product-detail-title-rating-star {
  height: 12px;
  width: 12px;
}
.productDetail-price {
  margin-top: 20px;
  margin-bottom: 25px;
}
.productDetail-brand {
  border-bottom: 1px solid #eff0f5;
}
.purchasing-btns {
  margin-top: 20px;
}
.rating-reviews-title {
  background: #f5f5f5;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 12px 20px;
}
.ratings-counter span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.ratings-counter {
  display: flex;
  justify-content: center;
}
.delivery-location {
  padding: 10px 0px;
  border-bottom: 1px solid #eff0f5;
}
.product-detail-payment-methods {
  padding: 15px 0px;
  border-bottom: 1px solid #eff0f5;
}
.service {
  padding-top: 13px;
  padding-bottom: 10px;
}
.product-detail-table,
.product-detail-table tr td {
  border: 1px solid #eff0f5;
}
.product-detail-table {
  border-collapse: collapse;
  border-left: 0px;
  border-right: 0px;
  margin-top: 10px;
}
.border-right-0 {
  border-right: 0px;
}
.border-left-0 {
  border-left: 0px;
}
.product-detail-table tbody tr td {
  padding: 2px;
}
.people-who-viewed-this {
  background: #fafafa;
}
.who-viewed-this-card {
  border: 0px;
}
.select-all-items span:first-child,
.select-all-items span:nth-child(2) {
  font-size: 12px;
  line-height: 40px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}
.select-all-items img,
.product-action-icons img {
  height: 13px;
}
.cart-product-img {
  height: 200px;
}
.selected-items div:first-child a {
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
.selected-items div:first-child input {
  height: 15px;
  width: 15px;
}
.cart-border-bottom {
  border-bottom: 1px solid #eff0f5;
  padding-bottom: 15px;
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}
.cart-border-bottom span {
  font-weight: 700 !important;
}
.cart-product-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.cart-product-details {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}
.home-product-content {
  padding: 0px 10px;
}
.cart-product-discounted-price {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: rgb(245, 114, 36);
}
.cart-product-original-price {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}
.cart-product-discounted-percentage {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(33, 33, 33);
}
.cart-order-summary h4 {
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(33, 33, 33);
}
.subtotal-details .cart-sub-total,
.cart-shipping-fee {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}
.subtotal-details .cart-subtotal-product-price,
.cart-shipping-price {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(32, 32, 32);
}

.cart-total {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(32, 32, 32);
}
.cart-total-price {
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(245, 114, 36);
}
.checkout-btn {
  height: 40px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  background-color: #f57224;
  outline: none;
  border: none;
  color: #fff;
  width: 100%;
}
.discount-vouche form input {
  height: 38px;
  font-size: 14px;
}
